<p id="notice"><%= notice %></p>

<h1>Chatboxes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Show</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatboxes.each do |chatbox| %>
      <tr>
        <td><%= chatbox.userid2 %></td>
        <td><%= link_to 'Show', chat_path(chatbox)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


